* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: white;
}

body {
    background-color: #2E2E2E;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

.signup-container {
    background-color: #272525;
    border-radius: 10px;
    max-width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-box {
    width: 100%;
    padding: 7px 8px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid #666666;
    background-color: #3a3a3a;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-box:focus {
    outline: #ffffff;
}

.input-box::placeholder {
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.button {
    padding: 7px 15px;
    background-color: #81b64c;
    border-radius: 5px;
    border: #2E2E2E;
    box-shadow: 0px 3px 0px #4e6932;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #6da43c;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    color: #666;
}

.divider span {
    background-color: #272525;
    padding: 0 10px;
}

.google-button-container {
    display: flex;
    justify-content: center;
}

.google-button {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #4285F4;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.google-icon {
    width: 16px;
    margin-right: 10px;
}

.google-button:hover {
    background-color: #357ae8;
}

.login-redirect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-redirect .link {
    margin-left: 5px;
}

.link {
    color: #81b64c;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
